<div 
    class="content d-flex justify-content-between bg-light-gray w-100 px-5 position-absolute overflow-hidden" 
    [ngClass]="{'hidden': !$weapons().length, 'collapsed': $weapons().length, 'expanded': $expanded()}">
    <div *ngIf="!$expanded()" class="weapons-list d-flex justify-content-center gap-50px w-100">
        <div 
            *ngFor="let weapon of $weapons()" 
            (click)="weaponService.removeFromSelection(weapon)" 
            class="weapon-box position-relative d-flex align-items-center h-100 pointer">
            <h4 class="position-absolute text-black ff-secondary">
                {{ weapon.displayName }}
            </h4>
            <img [src]="weapon.displayIcon" class="weapon-img w-75">
            <img src="assets/icons/trash.svg" width="45px" class="remove-icon position-absolute filter-white">
        </div>
    </div>

    <div *ngIf="$expanded()" class="w-100 pt-3">
        <app-weapons-analysis/>
    </div>

    <div class="actions d-flex gap-20px align-items-center ms-3">
        <button (click)="weaponService.clearSelection()" class="p-2">
            <img src="assets/icons/trash.svg" width="25px">
        </button>
        <button (click)="$expand.set(!$expand())" [disabled]="!$minSelections()" class="p-2">
            <img src="assets/icons/arrow-up.svg" width="25px" [ngClass]="{'rotate': $expanded()}">
        </button>
    </div>
</div>