@import '/src/styles/colors';
@import '/src/app/components/footer/footer.component';

.content {
    height: 0;
    left: 0;
    right: 0;
    bottom: $footer-height;
    transition-duration: .2s;

    &.hidden {
        height: 0;
    }

    &.collapsed {
        height: 80px;
    }

    &.expanded {
        height: 75%;
    }

    .weapons-list {
        max-width: 85%;
        
        .weapon-box {
            opacity: 0;
            width: 300px;
            transform: skew(20deg);
            background-color: rgba($dark-gray, .2);
            transition-duration: .3s;
            animation: fade-in .4s forwards;
    
            &:hover {
                background-color: rgba($dark-gray, .4);
    
                .weapon-img {
                    transform: skew(-20deg) scale(1.2);
                }

                .remove-icon {
                    opacity: 1;
                }
            }

            h4 {
                transform: skew(-20deg);
                top: 10px;
                right: 10px;
            }

            .weapon-img {
                transform: skew(-20deg);
                transition-duration: .2s;
            }

            .remove-icon {
                transform: skew(-20deg) translateX(20px);
                top: 25%;
                right: 50%;
                opacity: 0;
                transition-duration: .2s;
            }
        }
    }

    .actions {
        min-width: 100px;
        height: 80px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: transparent;
            transition-duration: .3s;

            &:hover {
                background-color: $black;

                img {
                    filter: $filter-white;
                }
            }

            &:disabled {
                img {
                    opacity: .5;
                }
            }

            img {
                transition-duration: .3s;

                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}