<ul ngbNav #nav="ngbNav" [(activeId)]="selectedWeapon">
	<li *ngFor="let weapon of $weapons()" [ngbNavItem]="weapon.uuid">
		<button ngbNavLink>
			{{ weapon.displayName | uppercase }}
			<span (click)="weaponService.removeFromSelection(weapon)" class="x"></span>
		</button>
		<ng-template ngbNavContent>
			<div class="h-100 w-50">
				CHART
			</div>
		</ng-template>
	</li>
</ul>

<div class="content d-flex justify-content-between gap-50px p-3 text-black">
	<div class="chart h-100 w-50">
		<canvas
			baseChart
			type="radar"
			[options]="options"
			[data]="$data()"
			[plugins]="plugins">
		</canvas>
	</div>
	<div [ngbNavOutlet]="nav"></div>
</div>