@import '/src/styles/colors';

$footer-height: 50px;

footer {
    background: linear-gradient(90deg, rgba(transparent, .5) 30%, rgba($red, .8) 100%);
    height: $footer-height;
    width: 120%;
    transition-duration: .4s;

    &:hover {
        background-position: 200px;
    }

    a {
        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            content: '';
            width: 35px;
            height: $footer-height;
            border: 1px solid transparent;
            background-color: $light-gray;
            transform: translateX(-5px) scale(0) skew(-20deg);
            transform-origin: top;
            transition-duration: .3s;
        }

        &:hover {
            &::before {
                transform: translateX(-5px) scale(1) skew(-20deg);
                opacity: .9;
            }

            svg {
                fill: $black;
                width: 50px;
            } 
        }

        svg {
            fill: $white;
            width: 35px;
            transform-origin: bottom;
            transition-duration: .3s;
        }
    }

}