<nav class="d-flex justify-content-center w-100 position-relative">
    <div class="d-flex justify-content-between w-75 h-100">
        <div routerLink=""  class="logo d-flex justify-content-center align-items-center h-100 pointer">
            <img src="assets/icons/valorant-logo.png" class="h-100">
        </div>
    
        <div class="items d-flex gap-50px h-100">
            <div 
                #navItem 
                *ngFor="let navItem of navItems" 
                [routerLink]="navItem.path" 
                routerLinkActive="active"
                class="nav-item-container h-100 pointer d-flex justify-content-center align-items-center ff-secondary fw-bold text-uppercase">
                    <span>{{ navItem.title }}</span>
            </div>

            <div #seekingBox class="seeking-box position-absolute h-100"></div>
        </div>
    </div>
</nav>