<div class="content d-flex gap-30px position-absolute" [ngClass]="{'expanded': $expanded()}">
    <div class="filters d-flex justify-content-start align-items-center gap-30px ps-3 py-2 bg-black w-100">
        <ng-select
            [items]="weapons$ | async"
            bindLabel="displayName"
            notFoundText="No weapons found"
            (change)="selectedWeapons$.next($event?.uuid ? [$event.uuid] : ($event || []))"
            [groupBy]="groupByFn"
            [selectableGroup]="true"
            [groupValue]="groupValueFn"
            [searchable]="true"
            placeholder="Type to search..."/>
    </div>

    <button (click)="$expanded.set(!$expanded())" class="expand position-absolute bg-black p-2">
        <img src="assets/icons/arrow-down.svg" width="20px" class="filter-white" [ngClass]="{'rotate': $expanded()}">
    </button>
</div>