<ul ngbNav #nav="ngbNav" [activeId]="$selectedWeapon()" (activeIdChange)="$selectedWeapon.set($event)">
	<li *ngFor="let weapon of $selectedWeapons()" [ngbNavItem]="weapon">
		<button ngbNavLink>
			{{ weapon.displayName | uppercase }}
			<span (click)="weaponService.removeFromSelection(weapon)" class="x"></span>
		</button>
		<ng-template ngbNavContent>
			<h2 class="text-center fw-bold">
				Why is <span class="mx-2 text-uppercase text-dark-red">// {{ $selectedWeapon().displayName }} //</span> better?
			</h2>
			<div class="w-100 mt-4 mb-3 px-5">
				<app-damage-chart [weapon]="weapon"/>
			</div>
			<ul class="w-100">
				<li *ngFor="let item of $advantages()" class="mb-2">
					<p class="m-0">{{ item.title }}</p>
					<small [innerHTML]="item.detail" class="ms-3 text-dark-gray"></small>
				</li>
			</ul>
		</ng-template>
	</li>
</ul>

<div class="content h-100 w-100 d-flex p-3 text-black">
	<div class="d-flex justify-content-center align-items-center w-50 h-100">
		<app-overview-chart [weapons]="weapons$ | async" [selectedWeapons]="$selectedWeapons" [selectedWeapon]="$selectedWeapon"/>
	</div>
	<div [ngbNavOutlet]="nav" class="w-50 h-100 ff-secondary overflow-scroll"></div>
</div>