// DEFINING VARIABLES
$palette: (
    "light-red": $light-red,
    "red": $red, 
    "dark-red": $dark-red,
    "black": $black, 
    "dark-gray": $dark-gray, 
    "light-gray": $light-gray, 
    "white": $white,
);

$filter-palette: (
    "filter-light-red": $filter-light-red,
    "filter-red": $filter-red, 
    "filter-dark-red": $filter-dark-red, 
    "filter-black": $filter-black, 
    "filter-dark-gray": $filter-dark-gray, 
    "filter-light-gray": $filter-light-gray, 
    "filter-white": $filter-white,
);

$font-weights: (
    'light': 200,
    'medium': 500,
    'bold': 700,
);

$gaps: 0, 5px, 10px, 15px, 20px, 30px, 40px, 50px;


// COLORS
@each $color, $value in $palette {
    .text-#{$color} {
        color: $value !important;
    }

    .bg-#{$color} {
        background-color: $value !important;
    }
}

@each $color, $value in $filter-palette {
    .filter-#{$color} {
        filter: $value;
    }
}


// FLEX BOX
@each $gap in $gaps {
    .gap-#{$gap} {
        gap: $gap;
    }
}


// TEXT
.ff-secondary {
    font-family: secondary;
}

@each $name, $weight in $font-weights {
    .fw-#{$name} {
        font-weight: $weight;
    }
}


// GENERAL
.pointer {
    cursor: pointer;
}