@import 'src/styles/utils';


ngb-modal-window {
    .modal-content {
        @include card();
        @include glass($black, .8, 5px);
        max-height: 85vh;
        padding: 15px;

        .close {
            float: right;
            cursor: pointer;
            
            &::after {
                content: url('../assets/icons/cross.svg');
                width: 40px;
                filter: $filter-white;
                transition-duration: .15s;
            }

            &:hover {
                &::after {
                    filter: $filter-red;
                }
            }
        }
    }
}