@import "~@ng-select/ng-select/themes/default.theme.css";

ng-select {
    font-family: secondary;
    font-size: 20px;

    .ng-value {
        font-size: 24px;
        padding-top: 5px;
    }

    .ng-clear-wrapper {
        &:hover {
            .ng-clear {
                color: $red !important;
            }
        }
        
        .ng-clear {
            font-size: 30px !important;
            padding-top: 10px;
            transition-duration: .2s;
        }
    }

    .ng-optgroup {
        background-color: rgba($light-red, .2) !important;
        transition-duration: .2s;

        &:hover {
            background-color: rgba($dark-red, .2) !important;
        }
    }

    .ng-option {
        transition-duration: .2s;
        
        &:hover {
            background-color: rgba($light-red, .2) !important;
        }

        &.ng-option-selected {
            background-color: rgba($dark-red, .2) !important;
        }
    }
}