<div class="row">
    <div *ngFor="let data of weaponsData$ | async" class="weapon-card position-relative col-sm-12 col-md-6 col-lg-4 p-3">
        <div class="overlay d-flex flex-column justify-content-between position-absolute p-3">
            <div class="d-flex justify-content-between">
                <h3 class="ff-secondary">
                    {{ data.weapon.displayName }}
                </h3>
                <div class="info">
                    Teste
                </div>
            </div>
            <div class="d-flex justify-content-end">
                {{ data.weapon.shopData?.cost }}
            </div>
        </div>
        <ngb-carousel class="carousel h-100 w-100">
            <ng-template ngbSlide *ngFor="let skin of data.skins; index as i">
                <div class="h-100 w-100">
                    <img *ngIf="skin.src$ | async as src" [src]="src" class="w-75 mh-100" [class]="data.weapon.displayName">
                    <small class="position-absolute bottom-0 start-0">
                        {{ skin.name }} ({{ i+1 }}/{{ data.skins.length }})
                    </small>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>