@import '/src/styles/utils';
@import '/src/styles/colors';

.weapon-card {
    @include card(transparent);
    @include fade-in(.15s);
    height: 250px;

    .overlay {
        z-index: 1;
        inset: 20px;
        transition-duration: .4s;

        &:hover {
            opacity: 0;

            & ~ ngb-carousel {
                .weapon-img {
                    position: absolute;
                    transform: rotate(10deg) scale(1.3);
                    opacity: 1;
        
                    &.Melee {
                        transform: rotate(45deg) scale(1.1);
                    }
                }

                .skin-name {
                    font-size: 26px;
                }
            } 
        }

        h3 {
            font-size: 32px;
        }

        .info {
            width: 40%;

            h4 {
                font-size: 18px;
            }

            h5 {
                font-size: 14px;
            }

            h4,
            h5 {
                margin-bottom: 1px;
            }
        }
    }

    ngb-carousel {
        border-radius: 10px;
        border-right: 2px solid $light-gray;
        border-left: 2px solid $light-gray;
        transition: border .3s;

        &.selected {
            border-right: 2px solid $light-red;
            border-left: 2px solid $light-red;
        }

        .weapon-img {
            transform: rotate(15deg);
            opacity: 0.4;
            transition-duration: .3s;

            &.Melee {
                transform: rotate(50deg);
            }
        }

        .skin-name {
            left: 20px;
            bottom: 20px;
            transition: ease-in-out .2s;
        }

        .skins-count {
            left: 20px;
            bottom: 0;
        }
    }
}