<div class="row">
    <div *ngFor="let data of weaponsData$ | async" class="weapon-card d-flex gap-10px col-sm-12 col-md-6 col-lg-4">
        <ngb-carousel class="h-100 w-50">
            <ng-template ngbSlide *ngFor="let skin of data.skins">
                <div *ngIf="skin.src$ | async as src" class="picsum-img-wrapper">
                    <img [src]="src" loading="lazy" class="h-100 w-100 object-fit-contain">
                </div>
                <div class="carousel-caption">
                    <p>{{ skin.name }}</p>
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="h-100 w-50 ff-secondary">
            <h3>{{ data.weapon.displayName }}</h3>
        </div>
    </div>
</div>