@import 'src/styles/colors';
@import 'src/styles/utils';

.agent-card {
    @include fade-in();
    height: 350px;

    &:hover {
        &::before {
            transform: scale(.8);
        }

        .portrait {
            transform: scale(1.25);
        }

        .details {
            h1 {
                &::before,
                &::after {
                    opacity: 1;
                }
        
                &::before {
                    transform: translateX(-15px);
                }
        
                &::after {
                    transform: translateX(-10px);
                }
            }
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1px;
        background-color: $white;
        transform-origin: center;
    }

    &::before {
        top: 0;
        left: 0;
        right: 0;
        transform: scale(.5);
        transition-duration: .2s;
    }

    &::after {
        bottom: 5%;
        right: -10px;
        transform: scale(.4) rotate(-15deg);
    }

    .background {
        opacity: .1;
        z-index: -1;
    }

    .portrait {
        transform: scale(1.2);
        transform-origin: bottom;
        transition-duration: .2s;
    }

    .details {
        left: 60%;

        .role-icon {
            width: 25px;
            height: 25px;
            opacity: .3;
            margin-right: 15px;
        }
    
        h3 {
            opacity: .3;
        }
    
        h1 {
            @include slash-effect($white, 30px);
            @include fade-in(.3s, .2s);
        }
    
        .skill-icon {
            @include fade-in(.1s);
            width: 35px;
            height: 35px;
        }
    }
}