@import '/src/styles/colors';

footer {
    background: linear-gradient(90deg, rgba(transparent, 0.5) 30%, rgba($red, 0.8) 100%);
    height: 50px;
    width: 120%;
    overflow-x: hidden;
    float: right;
    transition: background .5s;

    &:hover {
        background-position: 150px;
    }

    svg {
        fill: $white;
        stroke: $white;
        width: 35px;
    }
}